.banner-img-1{
    background: url(../resource/image/carousel/2.jpg);
    height: 100vh;
}
.banner-img-2{
    background: url(../resource/image/carousel/3.jpg);
    height: 100vh;
}
.banner-img-3{
    background: url(../resource/image/carousel/5.jpg);
    height: 100vh;
}